### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
secret_settings.py
contact_secret.py
db.sqlite3
/media
venv
/static

### VSCode ###
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json